.agree{
    font-size: 0.8rem;
}
.bg{
    align-items: center;
    background-color: #b5f2b4;
    display: flex;
    justify-content: center;
    margin-top: 7.4rem;
    padding: 1rem 1rem 1rem 1rem;
}
.bond{
    color: #446A46;
    cursor: pointer;
}
.createAcc{
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    height: auto;
    width: 25rem;
}
.head{
    color: #576F72;
    font-weight: bold;
    
}
@media screen and (max-width: 800px){
    .bg{
        margin-top: 10.1rem;
    }
    .createAcc{
        width: 100%;
    }
}