.empty{
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    padding: 10rem 2rem 2rem 2rem;
    width: 100%;
}
.head{
    font-size: 2rem;
}
@media screen and (max-width: 1000px){
    .empty{
        padding-top: 12.6rem;
    }
}