.layout{
    align-items: center;
    background-color: #b5f2b4;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    padding: 3rem 1rem 3rem 1rem;
    width: 100%;
}