.details{
    height: auto;
    padding-bottom: 1rem;
    position: relative;
    width: auto;
}
.errmsg{
    color: #EB1D36;
    font-size: 0.8rem;
}
.formLabel{
    color: #576F72;
    cursor: text;
    font-size: 0.85rem;
    left: 1.5rem;
    pointer-events: none;
    position: absolute;
    top: 0.9rem;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    user-select: none;
}
.layout{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7.5rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
}
.load{
    position: absolute;
    top: 40%;
    left: 35%;
}
.save{
    background-color: #446A46;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 3rem;
    width: 100%;
}
.textBox{
    border: 0.063rem solid #cfd2cfaf;
    border-radius: 0.2rem;
    color: rgba(0, 0, 0, 0.815);
    height: 3rem;
    padding: 0 1rem 0 1.5rem;
    outline: none;
    width: 25rem;
}
.textBox:focus ~ .cntryCode{
    color: black;
}
.textBox:focus{
    outline-color: rgba(0, 0, 0, 0.815);
    outline-style: solid;
    outline-width: thin; 
}
.textBox:focus ~ .formLabel, 
.textBox:not(:placeholder-shown).textBox:not(:focus) ~ .formLabel{
    background: white;
    font-size: 0.8rem;
    left: 0.6rem;
    top: -0.65rem;
}
@media screen and (max-width: 1000px){
    .loginForm, .textBox{
        width: 100%;
    }
    .layout{
        margin-top: 10.1rem;
    }
}