.badge{
    display: inherit;
    fill: #446A46;
    height: 5rem;
    width: 5rem;
}
.continue{
    background-color: #446A46;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 3rem;
    width: 25rem;
}
.layout{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    margin-top: 7.5rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
}
.subHead{
    font-size: 1rem;;
}

@media screen and (max-width: 800px){
    .continue{
        width: 100%;
    }
    .layout{
        margin-top: 10.1rem;
    }
}
