.details{
    height: auto;
    padding-bottom: 1rem;
    position: relative;
    width: auto;
}
.errmsg{
    color: #EB1D36;
    font-size: 0.8rem;
}
.fixed{
    background-color: #CFD2CF;
    border: 0.063rem solid #cfd2cfaf;
    border-radius: 0.2rem;
    color: #576F72;
    font-size: 0.85rem;
    height: 3rem;
    padding: 0.9rem 1rem 0 1rem;
    outline: none;
    user-select: none;
    width: 25rem;
}
.formLabel{
    color: #576F72;
    cursor: text;
    font-size: 0.85rem;
    left: 1rem;
    pointer-events: none;
    position: absolute;
    top: 0.9rem;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    user-select: none;
}
.head{
    color: black;
    font-size: 1rem;
}
.save{
    background-color: #446A46;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 3rem;
    width: 25rem;
}
.textBox{
    border: 0.063rem solid #cfd2cfaf;
    border-radius: 0.2rem;
    color: rgba(0, 0, 0, 0.815);
    height: 3rem;
    padding: 0 1rem 0 1rem;
    outline: none;
    width: 25rem;
}
.textBox:focus{
    outline-color: rgba(0, 0, 0, 0.815);
    outline-style: solid;
    outline-width: thin; 
}
.textBox:focus ~ .formLabel, 
.textBox:not(:placeholder-shown).textBox:not(:focus) ~ .formLabel{
    background: white;
    font-size: 0.8rem;
    left: 0.6rem;
    top: -0.65rem;
}
@media screen and (max-width: 1000px){
    .con, .details input, .details .fixed, .save{
        width: 100%;
    }
}