.head{
    font-size: 1.2rem;
    font-weight: bold;
}
.orders{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7.5rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
}
.ordersCard{
    margin-bottom: 1rem;
}
@media screen and (max-width: 1000px){
    .orders{
        margin-top: 10.1rem;
    }
    .ordersCard{
        width: 100%;
    }
}